UserApplications/WeatherApp/Service References/StorageServiceReference/StorageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StorageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://shaiiden:8002/StorageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://shaiiden:8002/StorageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://shaiiden:8002/StorageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OpenWeatherMap" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStorageService_GetSum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSum" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSumResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetWeatherFromDbByCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherFromDbByCity" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetWeatherFromDbByCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherFromDbByCityResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetCityModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityModels" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetCityModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityModelsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStorageService">
    <wsdl:operation name="GetSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/GetSum" message="tns:IStorageService_GetSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/GetSumResponse" message="tns:IStorageService_GetSum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherFromDbByCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/GetWeatherFromDbByCity" message="tns:IStorageService_GetWeatherFromDbByCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/GetWeatherFromDbByCityResponse" message="tns:IStorageService_GetWeatherFromDbByCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/GetCityModels" message="tns:IStorageService_GetCityModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/GetCityModelsResponse" message="tns:IStorageService_GetCityModels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStorageService" type="tns:IStorageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSum">
      <soap:operation soapAction="http://tempuri.org/IStorageService/GetSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherFromDbByCity">
      <soap:operation soapAction="http://tempuri.org/IStorageService/GetWeatherFromDbByCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityModels">
      <soap:operation soapAction="http://tempuri.org/IStorageService/GetCityModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageService">
    <wsdl:port name="BasicHttpBinding_IStorageService" binding="tns:BasicHttpBinding_IStorageService">
      <soap:address location="http://shaiiden:8002/StorageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>