Run/Service References/StorageServiceReference/StorageService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://shaiiden/StorageService/StorageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OpenWeatherMap" />
  <xs:element name="GetSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherFromDbByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherFromDbByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OpenWeatherMap" minOccurs="0" name="GetWeatherFromDbByCityResult" nillable="true" type="q1:WeatherItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>