Run/Service References/WeatherServiceReference/WeatherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://shaiiden/WeatherService/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OpenWeatherMap" />
  <xs:element name="StartSeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OpenWeatherMap" minOccurs="0" name="metricSystem" type="q1:MetricSystem" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OpenWeatherMap" minOccurs="0" name="language" type="q2:OpenWeatherMapLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSeekResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>