UserApplications/WeatherApp/Service References/WeatherServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.learn2develop.net/" elementFormDefault="qualified" targetNamespace="http://www.learn2develop.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OpenWeatherMap" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OpenWeatherMap" minOccurs="0" name="currentWeatherRequest" nillable="true" type="q2:CurrentWeatherRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnWeatherReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OpenWeatherMap" minOccurs="0" name="weather" nillable="true" type="q4:WeatherItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>